.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.table {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}